<div class="row my-row">
    <div class="col-md-1 col-sm-4 brand">
        <p>Space</p>
    </div>
    <div class="col-md-4 col-sm-8 ">
       <span class="sarea">
           
        <select name="" id="" class="form-control">
            <option value="">Plz Select a item</option>
        </select>
       </span>
    </div>
    <div class="col-md-4 col-sm-6">
        <p>Physical Region:Total City Geography</p>
    </div>
    <div class="col-md-3 text-right">
        <p>Visit the Learning Center
            <span class="icons">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <i class="fa fa-bell" aria-hidden="true"></i>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </span>
        </p>
        

    </div>
</div>